

body{
    /*background:url(https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png);
    to change background if needed.*/
    font-family: Arial, Helvetica, sans-serif;
    background-color:#3333;
    padding: 0px;
    margin: 0px;
    color:white;
} 



#header{
    position: relative;
    background-color:black;
    padding:10px ;
    margin: 30px;
    border-radius: 10px 10px 40px 40px; 
    width: auto;  
    left: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.30), 0 6px 6px rgba(0,0,0,0.28);
}


main{
    position: relative;
    background: linear-gradient(90deg, black, black);
    padding:10px ;
    margin-left: 300px;
    margin-right: 10px;
    left:-20px;
    font-size: larger;
    border-radius: 10px 10px 40px 40px;
    border: 10px;
    padding:10px 20px 0px 50px;
    width: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.30), 0 6px 6px rgba(0,0,0,0.28);
}

/*main:hover{
    transform:scale(1.5);
    z-index: 1;
}
experimenting with hover.*/

nav{
    position: absolute;
    background: linear-gradient(90deg, black, black);
    border-radius: 10px 10px 40px 40px;
    left: 30px;
    width: 230px;
    top: 248px;
    padding: 0px;
    margin: 0px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.30), 0 6px 6px rgba(0,0,0,0.28);
}

nav li:hover{
    background:;
    width: ;
    font-weight:bold;
}

    nav li{
        list-style-type: none;
    }

    .nav-link{
        color:white;
        text-decoration: none;
    }

    /*#contactform{
        position: absolute;
        background: linear-gradient(10deg, black, black);
        text-align: center;
        top: 250px;
        margin-left: 1050px;
        width: 250px;
        border-radius: 10px 10px 40px 40px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.30), 0 6px 6px rgba(0,0,0,0.28);

    }

    .button{
        width: 60px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.20), 0 6px 6px rgba(0,0,0,0.18);
    }

    #textarea{
        max-width:200px;
        max-height:250px;
    }*/

    .paragraph{
       margin:20px;
    }
