body{
    background-color:black ;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

header{
    position:relative ;
    background-color:white ;
    text-align: center;
    background-color: ;
    font-size:1.3em;
    top: -30px;
    
}

.title{
    position:relative;
    top:20px;
    background-color: white;
    padding:10px;
}

.titleimage{
    position: relative;
    width: 150px;
    z-index: 1;
}

nav{
    position: absolute;
    background-color: rgba(209, 192, 192, 0.137);
    width: auto;
    padding: 0px;
    margin: 0px;
    top:158px;
    
}

nav li:hover{
    font-weight:bold;
}

    nav li{
        list-style-type: none;
    }

    .nav-link{
        color:white;
        text-decoration: none;
    }

    /*.vline {
        border-left: 6px solid green;
        height: 100px;
        position: absolute;
      }*/

/*#mainsection{
    position:relative ;
    font-size: 1.2em;
    background-color: red;
    width: auto;
    padding:30px ;
}*/

#maintext{
position:relative;
left:212px;
width:1100px;
}

.text1{
    position:relative ;
    background-color: black;
    color:white;
    width: auto;
    font-size: 1.2em;
    padding: 30px;
    top:-31px;
}